:root {
  --white-color: #ffffff;
  --border-color-default: #c0c0c0;
  --background-color-default: #eeeff1;
  --primary-color: #022366;
  --success-color: #079a1d;
  --infor-color: #0b0e90;
  --danger-color: #ed0101;
  --warning-color: #f49342;
}
