.main-content-table {
  height: 440px;
  overflow: scroll;
  font-size: 14px;
  position: relative;
  cursor: default;
}

.main-content-table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.main-content-table::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

.main-content-table::-webkit-scrollbar-thumb {
  background-color: #909090;
  border-radius: 10px;
}

table {
  min-width: 100%;
  width: max-content;
  background-color: #fff;
  border-spacing: 0;
}

thead {
  position: sticky;
  top: 0px;
  z-index: 2;
  background-color: #efefef;
}

th {
  position: relative;
  cursor: pointer;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 1px dotted var(--border-color-default);
  white-space: nowrap; /* Ngăn chặn các dòng từ việc ngắt dòng */
}

tr {
  height: 48px;
  padding: 10px;
  box-sizing: border-box;
}

table th,
table td {
  width: auto;
}

tbody tr :hover {
  cursor: pointer;
}

.functions-area {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.function-name {
  color: #3d83a9;
  cursor: pointer;
}

.drop-icon {
  background: url("/src/assets/img/Sprites.64af8f61.svg") no-repeat -890px -360px;
  width: 8px;
  height: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.drop-icon:hover {
  border: 1px solid #3d83a9;
}

.drop-icon-active {
  border: 1px solid #3d83a9;
}

/* Kiểm tra xem phần tử drop-icon có sibling là .drop-list-function không thì có border 
   (tức là đang click vào nó) 
*/
.drop-icon:has(+ .drop-list-function) {
  border: 1px solid #3d83a9;
}

.drop-list-function {
  background-color: white;
  z-index: 2;
  border: 1px solid var(--border-color-default);
  min-width: 130px;
  min-height: 100px;
  position: absolute;
  /* top: 18px;
  right: 3px; */
  text-align: left;
}

/* .drop-icon:hover + .drop-list-function {
  display: block;
} */

.drop-list-function:hover {
  display: block;
}

tbody tr:last-child .drop-icon + .drop-list-function,
tbody tr:nth-last-child(2) .drop-icon + .drop-list-function {
  top: -101px;
  right: 3px;
}

tbody tr:first-child .drop-icon + .drop-list-function,
tbody tr:nth-child(2) .drop-icon + .drop-list-function {
  top: 18px;
  right: 3px;
}

.function-item {
  padding-left: 8px;
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
}

.function-item:hover {
  background-color: var(--background-color-default);
  color: rgb(6, 132, 6);
  cursor: pointer;
}

th:first-child,
td:first-child {
  position: sticky !important;
  left: 0px; /* Ghim cột đầu tiên */
  z-index: 1;
  background-color: #fff;
}

th:nth-child(2),
td:nth-child(2) {
  position: sticky !important;
  left: 40px; /* Ghim cột đầu tiên */
  z-index: 1;
  background-color: #fff;
}

th:nth-child(3),
td:nth-child(3) {
  position: sticky !important;
  left: 190px; /* Ghim cột đầu tiên */
  z-index: 1;
  background-color: #fff;
}

th:last-child,
td:last-child {
  position: sticky !important;
  right: 0px; /* Ghim cột cuối */
  z-index: 1;
  background-color: #fff;
}

th:first-child,
th:nth-child(2),
th:nth-child(3),
th:last-child {
  background-color: #efefef;
}

.heading-icon + .heading-icon {
  margin-right: 10px;
}

.arrow-a-z-sort {
  /* display: none; */
  background: url("/src/assets/img/Sprites.64af8f61.svg") no-repeat -1689px -524px;
  width: 11px;
  height: 14px;
  float: right;
}

.arrow-z-a-sort {
  /* display: none; */
  background: url("/src/assets/img/Sprites.64af8f61.svg") no-repeat -1729px -525px;
  width: 11px;
  height: 14px;
  float: right;
}

.filter-data {
  float: right;
}

.filter-data-icon {
  background: url("/src/assets/img/Sprites.64af8f61.svg") no-repeat -1602px -91px;
  width: 20px;
  height: 19px;
  cursor: pointer;
  display: none;
}

.filter-data--active:not(.filter-data--active) {
  filter: sepia(1) saturate(4) hue-rotate(210deg) brightness(100%) opacity(1)
    hue-rotate(240deg);
}

.filter-column-area {
  position: absolute;
  top: calc(100% + 3px);
  right: -137px;
  width: 312px;
  background-color: var(--white-color);
  border: 1px solid var(--background-color-default);
  border-radius: 4px;
  cursor: default;
  /* display: none; */
}

/* Dấu tam giác ở bên trên pop-up filter */
.filter-column-area::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  border-width: 8px 8px 0 8px;
  border-style: solid;
  border-color: var(--white-color) transparent transparent transparent;
}

/* Với phần tử gần cuối (trước cột chức năng) -> chuyển pop-up filter nhích sang để không bị đè
đồng thời chuyển dấu tam giác sang sát bên góc phải */
table th:nth-last-child(2) .filter-column-area {
  right: 0;
}
table th:nth-last-child(2) .filter-column-area::before {
  left: 94%;
}

.filter-condition-heading {
}

.filter-condition-selection {
  padding: 12px 0 24px 0;
  box-sizing: border-box;
}

.filter-selector {
  padding-bottom: 12px;
  box-sizing: border-box;
}

.filter-value-text {
}

.filter-condition-area {
  padding-top: 22px;
  padding-left: 15px;
  box-sizing: border-box;
}

.filter-footer {
  display: flex;
  justify-content: flex-end;
  column-gap: 12px;
  padding: 9px 17px 10px 0;
  box-sizing: border-box;
  background-color: var(--background-color-default);
}

th:hover .filter-data-icon {
  display: block;
}

/* Kiểm tra xem phần tử drop-icon có sibling là .drop-list-function không thì có border 
   (tức là đang click vào nó) 
*/
.filter-data-icon:has(+ .filter-column-area) {
  display: block;
}

/* .filter-data-icon:hover ~ .filter-column-area {
  display: block;
} */
