.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e8e8e85c;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 100;
}

.loader::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 10px solid #adadad;
  border-top-color: #022366;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
