.rating-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bababa96;
  z-index: 3;
}

.rating-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.rating-form-heading {
  padding: 10px 0 20px 0;
  box-sizing: border-box;
}

.rating-header .rating-form-close {
  background: url("/src/assets/img/Sprites.64af8f61.svg") no-repeat -149px -149px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.rating-infor {
  padding: 10px 0 30px 0;
  box-sizing: border-box;
}

.rating-star-area {
  display: flex;
  align-items: center;
  column-gap: 30px;
  padding: 10px 0;
  box-sizing: border-box;
}

.rating-star {
  font-size: 30px;
  cursor: pointer;
  color: lightgray; /* Màu cho ngôi sao chưa được đánh giá */
}

.selected-star {
  color: gold; /* Màu cho ngôi sao đã được đánh giá */
}

.rating-form {
  position: relative;
  width: 500px;
  height: 300px;
  margin: 150px auto;
  border-radius: 5px;
  background-color: white;
  padding: 15px 20px;
  box-sizing: border-box;
  font-size: 14px;
}

.rating-form-footer {
  display: flex;
  column-gap: 50px;
  justify-content: center;
}
