.activity-members-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(91, 91, 91, 0.296);
  z-index: 2;
}

.activity-members-area {
  width: 900px;
  border-radius: 4px;
  background-color: var(--background-color-default);
}

.activity-infor {
  display: flex;
  justify-content: space-around;
}

.activity-members-heading {
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

.activity-members-footer {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.custom-result {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.activity-infor span {
  font-size: 15px;
  display: block;
  padding: 3px 0;
  box-sizing: border-box;
}
